<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwUrpSjh-9m29ozfwkIjKM3McDIq1yZ2s</string>
	<key>GCM_SENDER_ID</key>
	<string>856819795660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uts.Assignment3</string>
	<key>PROJECT_ID</key>
	<string>ios2024-82492</string>
	<key>STORAGE_BUCKET</key>
	<string>ios2024-82492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856819795660:ios:0603ce5331865884c0a469</string>
</dict>
</plist>