<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>WeatherAPIKey</key>
	<string>8837e709f690470bad672032241210</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide weather updates and track activities.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to keep providing services in the background.</string>
</dict>
</plist>
